<!DOCTYPE html>
<html>
<head>
    <title>Propuesta Enviada</title>
    <!-- Incluye Bootstrap CSS y JS desde los enlaces CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container mt-5">
        <div class="text-center">
            <h1 class="display-4"><b>¡La Propuesta Se Creó Exitosamente!</b></h1>
        </div>

        <div class="text-center mt-3">
            <a href="{% url 'oferta' %}" class="btn btn-primary">Volver</a>
        </div>
    </div>
</body>
</html>

